<footer *ngIf="router.url !== '/login' && router.url !== '/'" class="p-4 bg-gray sm:p-6 bg-no-repeat bg-cover" style="background-image: var(--bg-footer);">
    <div class="md:flex md:justify-between">
        <div class="">
            <a href="https://esgeo.eu/es/" target="_blank" class="flex items-center">
                <img src="assets/brand/esgeo-logo-white.webp" class="h-6" alt="ESGEO Logo" />
            </a>
        </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
        <span class="text-sm text-white sm:text-center">© 2022 <a href="https://flowbite.com" class="hover:underline">ESGEO</a>. All Rights Reserved.
        </span>
    </div>
</footer>