<div class="container mx-auto flex flex-col gap-12 h-auto mb-24 mt-4 lg:mt-12 lg:flex-row lg:gap-4">
    <!-- HEADER  -->
    <div id="header" class="w-full h-1/5 p-4 lg:w-1/3 lg:pl-8 lg:flex justify-between items-center">
        <div>
            <a href="" [routerLink]="['/module-list']">
                <div class="flex gap-2 text-lightText flex justify-start items-center mb-4">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
                    <p class="font-semibold">Volver</p>
                </div>
            </a>
            <h5 class="m-title">Módulo 1 - Introducción</h5>
            <p class="m-description">Breve descripción del módulo que vamos a visitar</p>
            <div class="flex gap-4">
                <div class="flex justify-start items-center mb-6 text-lightText">
                    <svg class="w-6 h-6 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z"></path></svg>
                    <p class="m-assetText">10 vídeos</p>
                </div>
                <div class="flex justify-start items-center mb-6 text-lightText">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path></svg>
                    <p class="m-assetText">10 documentos</p>
                </div>
            </div>
            <div class="flex justify-start items-start">
                <a href="#" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-secondary rounded-lg hover:shadow-md focus:ring-4 focus:outline-none">
                    Ir a Certificación
                    <svg class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
        </div>
    </div>
     <!-- / HEADER  -->
      <!-- div 2  -->
    <div id="content" class="w-full h-auto p-4 bg-white rounded-lg border border-gray-200 shadow-md flex flex-col gap-8 lg:w-2/3 lg:overflow-y-auto lg:h-screen">
        <!-- docs  -->
        <div class="flex flex-col gap-4">
            <p class="m-subtitle mt-4">Documentación (2)</p>
            <div class="grid gap-4 grid-cols-1 md:grid-cols-2">
                <a href="assets/brand/Design-thinking.pdf" target="_blank"> 
                    <div class="w-full h-auto bg-white p-3 flex justify-between items-end rounded-lg bg-white rounded-lg border border-gray-200 shadow hover:shadow-md">
                        <div>
                            <p class="font-sm font-semibold text-mainText">Documentos de texto</p>
                            <p class="font-xs text-lightText">modulo_1_introduccion.pdf</p>
                        </div>
                        <div>
                            <a href="assets/brand/Design-thinking.pdf" download>
                                <button type="button" class="text-white bg-corp font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center">
                                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 13l-3 3m0 0l-3-3m3 3V8m0 13a9 9 0 110-18 9 9 0 010 18z"></path></svg>
                                  </button>
                            </a>
                        </div>
                    </div>
                </a>
                <a href="assets/brand/Design-thinking.pdf" target="_blank"> 
                    <div class="w-full h-auto bg-white p-3 flex justify-between items-end rounded-lg bg-white rounded-lg border border-gray-200 shadow hover:shadow-md">
                        <div>
                            <p class="font-sm font-semibold text-mainText">Text Document</p>
                            <p class="font-xs text-lightText">module_1_introduction.pdf</p>
                        </div>
                        <div>
                            <a href="assets/brand/Design-thinking.pdf" download>
                                <button type="button" class="text-white bg-corp font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center">
                                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 13l-3 3m0 0l-3-3m3 3V8m0 13a9 9 0 110-18 9 9 0 010 18z"></path></svg>
                                  </button>
                            </a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- lesson resume  -->
        <div class="w-full h-auto flex flex-col gap-2">
            <p class="m-subtitle">Resumen Módulo</p>
            <p class="m-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
        <!-- lesson media  -->
        <div class="grid grid-rows-2 grid-cols-1 gap-8">
            <div class="w-full h-auto flex flex-col gap-2 border-t border-lightText pt-12 pb-12">
                <div class="flex flex-col justify-start items-start gap-4 md:flex-row md:items-center">
                    <p class="text-darkText text-xl font-bold">Lección 1 - Design Basics</p>
                    <div class="flex text-lightText text-md font-medium gap-1">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                        <p class="">12 minutos</p>
                    </div>
                </div>
                <p class="m-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
                <div class="">
                    <iframe id="myIframe" src="https://www.youtube.com/embed/nBX2om90TB8" class="w-full h-52 md:h-96 lg:h-128">
                    </iframe>
                </div>
            </div>
            <div class="w-full h-auto flex flex-col gap-2 border-t border-lightText pt-12 pb-12">
                <div class="flex flex-col justify-start items-start gap-4 md:flex-row md:items-center">
                    <p class="text-darkText text-xl font-bold">UX Designers rarely do wireframes </p>
                    <div class="flex text-lightText text-md font-medium gap-1">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                        <p class="">12 minutos</p>
                    </div>
                </div>
                <p class="m-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
                <div class="w-full h-full">
                    <iframe id="myIframe" src="https://www.youtube.com/embed/DBXO1xLVp6I" class="w-full h-52 md:h-96 lg:h-128">
                    </iframe>
                </div>
            </div>
            <div class="w-full h-auto flex flex-col gap-2 border-t border-lightText pt-12 pb-12">
                <div class="flex flex-col justify-start items-start gap-4 md:flex-row md:items-center">
                    <p class="text-darkText text-xl font-bold">Are you making those 5 button design mistakes?</p>
                    <div class="flex text-lightText text-md font-medium gap-1">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                        <p class="">12 minutos</p>
                    </div>
                </div>
                <p class="m-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
                <div class="w-full h-full">
                    <iframe id="myIframe" src="https://www.youtube.com/embed/16tRfLZwmrM" class="w-full h-52 md:h-96 lg:h-128">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>
