::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled, ::ng-deep .mat-form-field-outline {
    opacity: 0;
    }
mat-accordion {
    background-color: transparent;
    border-bottom-color: transparent;
    border: 1px solid transparent;
    padding: 10px;
    box-shadow: 0;
}
mat-expansion-panel {
    background-color: transparent;
    border-bottom-color: transparent;
    border: 1px solid transparent;
    padding: 10px;
    box-shadow: none !important;
}
mat-expansion-panel-body {
    padding: 0px 0px 0px 0px !important;
}
.noPadding {
    padding: 0px !important;
}