
<section class="min-h-screen flex items-stretch text-white">
  <div class="lg:flex w-1/2 hidden bg-gray-500 bg-no-repeat bg-cover relative items-center" style="background-image: url(https://images.unsplash.com/photo-1577495508048-b635879837f1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80);">
      <div class="absolute bg-black opacity-40 inset-0 z-0"></div>
  </div>
  <div class="m-8 lg:w-1/2 w-full flex items-center justify-center md:px-16 px-0 z-0" style="background-color: #FFFF;">
      <div class="absolute lg:hidden z-10 inset-0 bg-gray-500 bg-no-repeat bg-cover items-center" style="background-image: 'url(https://images.unsplash.com/photo-1577495508048-b635879837f1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80)';">
          <div class="absolute bg-black opacity-60 inset-0 z-0"></div>
      </div>
      <div class="w-full max-w-lg py-6 z-20 border-2 border-gray-300 p-12 rounded-md shadow bg-white bg-opacity-90">
        <div class="flex justify-center items-center h-auto w-auto m-8">
          <img src="assets/brand/esgeo_logo.webp" class="w-36" alt="">
        </div>
        <div class="">
            <p class="text-center text-textColor-light mb-8">
                Por favor, introduce usuario y contraseña
            </p>
            <form [formGroup]="loginForm" (ngSubmit)="summit()" class="flex flex-col max-w-md text-textColor">
              <mat-form-field appearance="fill" class="mb-4">
                <mat-label>Nombre de usuario</mat-label>
                <input matInput placeholder="Email address" formControlName="email">
                <mat-error>Por favor, introduzca una cuenta válida</mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="mb-14">
                <mat-label>Contraseña</mat-label>
                <input matInput placeholder="Password" formControlName="password" type="password" class="text-textColor">
                <mat-error>Por favor, introduzca una contraseña válida</mat-error>
              </mat-form-field>
              <button mat-raised-button class="h-12 w-full items-center py-2 px-3 mb-4 font-medium text-center text-white bg-loginBtn rounded-lg hover:bg-loginBtn-dark">Login</button>
              <p class="text-center text-indigo-500">¿Has olvidado tu contraseña?</p>
            </form>
        </div>
      </div>  
    </div>
</section>

