
<div *ngIf="router.url !== '/login' && router.url !== ''" class="container mx-auto border border-gray-200 mb-24 rounded-xl shadow bg-no-repeat bg-cover" style="background-image: url('assets/brand/bg-contact.png');">
  <div class="flex p-4 w-full text-center sm:p-8">
      <form class="p-8 w-1/2 flex flex-col justify-start" [formGroup]="form" method="post" (ngSubmit)="onSubmit()">
        <div class="flex flex-col justify-start items-start text-left mb-8">
            <p class="m-title text-white mb-2">¿Tienes alguna duda?</p>  
            <p class="m-subtitle text-white">Contacta con nosotros, te responderemos con la mayor brevedad posible</p>  
        </div>
        <mat-form-field appearance="fill">
              <mat-label class="text-white">Nombre</mat-label>
              <input matInput [formControl]="name" required>
              <mat-error *ngIf="name.invalid">Por favor, introduzca su nombre</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label class="text-white">Correo</mat-label>
                <input matInput [formControl]="email" placeholder="email@ejemplo.com" required>
                <mat-error *ngIf="email.invalid">Por favor, introduzca un correo válido</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="mb-8">
                <mat-label class="text-white">Message</mat-label> 
                <textarea matInput [formControl]="message" maxlength="256" placeholder="Estoy interesado en..." required class="text-white"></textarea>
                <mat-hint align="end"> {{message.value?.length || 0}}/256</mat-hint>
                <mat-error *ngIf="message.invalid">Por favor, introduce un mensaje</mat-error>
            </mat-form-field>
            <button [disabled]="isLoading" class="h-14 w-56 items-center py-2 px-3 font-medium text-center text-white bg-corp rounded-lg hover:bg-hCorp" type="submit">Enviar mensaje</button>
            <input [formControl]="honeypot" class="hidden" type="text" />
            <div [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
                <span>{{responseMessage}}</span>
            </div>
        </form>
    </div>
</div>
        
        